In [1]:
import pandas as pd
import numpy as np

phones_df = pd.read_csv('data-files/Mobile_data.csv')
phones_df.head()

,Product,Price,RAM,ROM,Display,Back_camera,Front_camera,Processor,Battery,Rating
0,"Realme C12 (Power Blue, 32 GB)","₹8,999",3 GB RAM,32 GB ROM,16.56,13MP + 2MP + 2MP,5MP Front Camera,Mediatek Helio G35 Processor,6000,4.5
1,"Realme C12 (Power Silver, 32 GB)","₹8,999",3 GB RAM,32 GB ROM,16.56,13MP + 2MP + 2MP,5MP Front Camera,Mediatek Helio G35 Processor,6000,4.5
2,"Redmi 9i (Midnight Black, 64 GB)","₹8,299",4 GB RAM,64 GB ROM,16.59,13MP Rear Camera,5MP Front Camera,MediaTek Helio G25 Processor,5000,4.4
3,"Realme C15 (Power Blue, 32 GB)","₹9,499",3 GB RAM,32 GB ROM,16.56,13MP + 8MP + 2MP + 2MP,8MP Front Camera,Mediatek Helio G35 Processor,6000,4.4
4,"Realme C15 (Power Silver, 32 GB)","₹9,499",3 GB RAM,32 GB ROM,16.56,13MP + 8MP + 2MP + 2MP,8MP Front Camera,Mediatek Helio G35 Processor,6000,4.4

In [2]:
phones_df.dropna(axis=0, inplace=True)
phones_df.drop('Rating', axis=1, inplace=True)
phones_df.drop('Price', axis=1, inplace=True)
phones_df.drop('Front_camera', axis=1, inplace=True)
phones_df = phones_df[phones_df['Processor'].str.contains('Qualcomm')]
phones_df['Processor'] = phones_df['Processor'].str[20:23]
phones_df['Processor'].unique() # 불필요한 값 확인
phones_df = phones_df.drop(phones_df[phones_df['Processor']=='(SD'].index)
phones_df = phones_df.drop(phones_df[phones_df['Processor']=='™ 7'].index)
phones_df = phones_df.drop(phones_df[phones_df['Processor']=='ess'].index)
phones_df = phones_df.drop(phones_df[phones_df['Processor']==' 85'].index)
phones_df = phones_df.drop(phones_df[phones_df['Processor']=='SDM'].index)

phones_df.head()

,Product,RAM,ROM,Display,Back_camera,Processor,Battery
5,"Realme 7i (Fusion Green, 128 GB)",4 GB RAM,128 GB ROM,16.51,64MP + 8MP + 2MP + 2MP,662,5000
6,"Realme 7i (Fusion Blue, 128 GB)",4 GB RAM,128 GB ROM,16.51,64MP + 8MP + 2MP + 2MP,662,5000
7,"Realme 7i (Fusion Blue, 64 GB)",4 GB RAM,64 GB ROM,16.51,64MP + 8MP + 2MP + 2MP,662,5000
8,"Realme 7i (Fusion Green, 64 GB)",4 GB RAM,64 GB ROM,16.51,64MP + 8MP + 2MP + 2MP,662,5000
9,"Realme Narzo 20A (Glory Silver, 64 GB)",4 GB RAM,64 GB ROM,16.51,12MP + 2MP + 2MP,665,5000

In [3]:
phones_df['Back_camera'] = phones_df['Back_camera'].str[0:2]
phones_df['RAM'] = phones_df['RAM'].str.split(" ").str[0]
phones_df['ROM'] = phones_df['ROM'].str.split(" ").str[1]
phones_df.head()

,Product,RAM,ROM,Display,Back_camera,Processor,Battery
5,"Realme 7i (Fusion Green, 128 GB)",4,128,16.51,64,662,5000
6,"Realme 7i (Fusion Blue, 128 GB)",4,128,16.51,64,662,5000
7,"Realme 7i (Fusion Blue, 64 GB)",4,64,16.51,64,662,5000
8,"Realme 7i (Fusion Green, 64 GB)",4,64,16.51,64,662,5000
9,"Realme Narzo 20A (Glory Silver, 64 GB)",4,64,16.51,12,665,5000

In [8]:
phones_df.to_csv('data-files/phones_df.csv')

In [9]:
phones_df = pd.read_csv('data-files/phones_df.csv')
phones_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    206 non-null    int64
 1   Unnamed: 0.1  206 non-null    int64
 2   Product       206 non-null    object
 3   RAM           206 non-null    int64
 4   ROM           206 non-null    int64
 5   Display       206 non-null    float64
 6   Back_camera   206 non-null    int64
 7   Processor     206 non-null    int64
 8   Battery       206 non-null    int64
dtypes: float64(1), int64(7), object(1)
memory usage: 14.6+ KB

In [10]:
# Cosine Similarity를 계산할 부분 추출
spec_mat = phones_df[['RAM','ROM','Display','Back_camera','Processor','Battery']]

# Cosine Similarity 계산
from sklearn.metrics.pairwise import cosine_similarity

spec_sim = cosine_similarity(spec_mat, spec_mat)
print(spec_sim.shape)
print(spec_sim[:2])

(206, 206)
[[1.         1.         0.99991957 0.99991957 0.99986627 0.99986627
  0.99976568 0.99976568 0.999911   0.99993651 0.9998495  0.99984942
  0.99993639 0.99889782 0.99889782 0.99821409 0.99821409 0.999911
  0.99984942 0.9994057  0.99994672 0.99994672 0.99984942 0.99993011
  0.9994057  0.9995697  0.99993639 0.99993651 0.99879852 0.9995697
  0.99999448 0.9999948  0.99993011 0.99993011 0.9998495  0.9999948
  0.9994057  0.99986627 0.99994672 0.99963053 0.99963053 0.99963053
  0.99963021 0.99950897 0.99912022 0.99879852 0.99991454 0.99986627
  0.99963021 0.99991454 0.99987978 0.99518099 0.99879852 0.99994664
  0.99994664 0.9995697  0.99907403 0.99907403 0.99994843 0.99994843
  0.99987978 0.99987978 0.99999448 0.9998495  0.99907411 0.99907411
  0.99759614 0.9997677  0.99950897 0.9999948  0.99994672 0.99963021
  0.99759653 0.9994057  0.99983604 0.9988974  0.9988974  0.99910172
  0.99907409 0.99759614 0.9970205  0.9994379  0.99907411 0.9988974
  0.99766948 0.99766948 0.9999363  0.99982584 0.99982592 0.99982584
  0.99982592 0.99943835 0.99910172 0.99686998 0.99619709 0.9999065
  0.99907409 0.9970205  0.9988974  0.99983604 0.9999363  0.99920519
  0.9987591  0.99994142 0.99994142 0.99759614 0.99847008 0.99847008
  0.99889941 0.99889941 0.99879858 0.9996744  0.9996744  0.99961386
  0.99759614 0.99814842 0.99967406 0.99920519 0.99967406 0.99878318
  0.99766948 0.99814842 0.99915393 0.99950897 0.99994119 0.9999065
  0.99846928 0.99889941 0.99686998 0.99961386 0.99967407 0.99967407
  0.99932223 0.99910172 0.99943835 0.9994379  0.99878318 0.99878318
  0.99907411 0.99907411 0.99907411 0.99915393 0.99846928 0.99984467
  0.99915393 0.99943835 0.99956771 0.99810011 0.99810011 0.99875511
  0.99878272 0.99878272 0.99875511 0.99630882 0.9997677  0.99984467
  0.99619709 0.99619709 0.99956771 0.99956749 0.99877133 0.99879858
  0.99846928 0.99846928 0.99986829 0.99986627 0.99686575 0.99619709
  0.99686575 0.99959502 0.99959502 0.99979695 0.99878737 0.99810011
  0.99875511 0.99849584 0.99986625 0.99986625 0.99846928 0.99879858
  0.99749525 0.99994142 0.99749525 0.99749525 0.99749525 0.99749525
  0.99986627 0.99766824 0.99882082 0.99686998 0.99878272 0.99939827
  0.99994119 0.99986827 0.99991387 0.99810412 0.99810412 0.99994142
  0.99994119 0.99956759 0.998902   0.998902   0.99981172 0.99842034
  0.99956749 0.99986829]
 [1.         1.         0.99991957 0.99991957 0.99986627 0.99986627
  0.99976568 0.99976568 0.999911   0.99993651 0.9998495  0.99984942
  0.99993639 0.99889782 0.99889782 0.99821409 0.99821409 0.999911
  0.99984942 0.9994057  0.99994672 0.99994672 0.99984942 0.99993011
  0.9994057  0.9995697  0.99993639 0.99993651 0.99879852 0.9995697
  0.99999448 0.9999948  0.99993011 0.99993011 0.9998495  0.9999948
  0.9994057  0.99986627 0.99994672 0.99963053 0.99963053 0.99963053
  0.99963021 0.99950897 0.99912022 0.99879852 0.99991454 0.99986627
  0.99963021 0.99991454 0.99987978 0.99518099 0.99879852 0.99994664
  0.99994664 0.9995697  0.99907403 0.99907403 0.99994843 0.99994843
  0.99987978 0.99987978 0.99999448 0.9998495  0.99907411 0.99907411
  0.99759614 0.9997677  0.99950897 0.9999948  0.99994672 0.99963021
  0.99759653 0.9994057  0.99983604 0.9988974  0.9988974  0.99910172
  0.99907409 0.99759614 0.9970205  0.9994379  0.99907411 0.9988974
  0.99766948 0.99766948 0.9999363  0.99982584 0.99982592 0.99982584
  0.99982592 0.99943835 0.99910172 0.99686998 0.99619709 0.9999065
  0.99907409 0.9970205  0.9988974  0.99983604 0.9999363  0.99920519
  0.9987591  0.99994142 0.99994142 0.99759614 0.99847008 0.99847008
  0.99889941 0.99889941 0.99879858 0.9996744  0.9996744  0.99961386
  0.99759614 0.99814842 0.99967406 0.99920519 0.99967406 0.99878318
  0.99766948 0.99814842 0.99915393 0.99950897 0.99994119 0.9999065
  0.99846928 0.99889941 0.99686998 0.99961386 0.99967407 0.99967407
  0.99932223 0.99910172 0.99943835 0.9994379  0.99878318 0.99878318
  0.99907411 0.99907411 0.99907411 0.99915393 0.99846928 0.99984467
  0.99915393 0.99943835 0.99956771 0.99810011 0.99810011 0.99875511
  0.99878272 0.99878272 0.99875511 0.99630882 0.9997677  0.99984467
  0.99619709 0.99619709 0.99956771 0.99956749 0.99877133 0.99879858
  0.99846928 0.99846928 0.99986829 0.99986627 0.99686575 0.99619709
  0.99686575 0.99959502 0.99959502 0.99979695 0.99878737 0.99810011
  0.99875511 0.99849584 0.99986625 0.99986625 0.99846928 0.99879858
  0.99749525 0.99994142 0.99749525 0.99749525 0.99749525 0.99749525
  0.99986627 0.99766824 0.99882082 0.99686998 0.99878272 0.99939827
  0.99994119 0.99986827 0.99991387 0.99810412 0.99810412 0.99994142
  0.99994119 0.99956759 0.998902   0.998902   0.99981172 0.99842034
  0.99956749 0.99986829]]

In [12]:
# 인자로 입력된 phones_df DataFrame에서 'Product' 컬럼이 입력된 Product_name 값인 DataFrame추출
product = phones_df[phones_df['Product'] == 'Redmi Note 9 Pro Max (Glacier White, 128 GB)']

# Product_name을 가진 DataFrame의 index 객체를 ndarray로 반환하고 
product_index = product.index.values

# 유사도에 따라 상위 10개의 모델을 추출하여 DataFrame 형식으로 출력
sim1 = spec_sim[product_index[0]] 
top_10 = np.argsort(sim1)[::-1][:10]

print(phones_df[phones_df['Product']=='Redmi Note 9 Pro Max (Glacier White, 128 GB)'])
phones_df.iloc[top_10,]

     Unnamed: 0  Unnamed: 0.1                                       Product  \
124         124           451  Redmi Note 9 Pro Max (Glacier White, 128 GB)
181         181           796  Redmi Note 9 Pro Max (Glacier White, 128 GB)

     RAM  ROM  Display  Back_camera  Processor  Battery
124    8  128    16.94           64        720     5020
181    6  128    16.94           64        720     5020

,Unnamed: 0,Unnamed: 0.1,Product,RAM,ROM,Display,Back_camera,Processor,Battery
192,192,881,"Redmi Note 9 Pro Max (Aurora Blue, 128 GB)",8,128,16.94,64,720,5020
124,124,451,"Redmi Note 9 Pro Max (Glacier White, 128 GB)",8,128,16.94,64,720,5020
198,198,943,"Redmi Note 9 Pro Max (Interstellar Black, 128 GB)",8,128,16.94,64,720,5020
181,181,796,"Redmi Note 9 Pro Max (Glacier White, 128 GB)",6,128,16.94,64,720,5020
197,197,942,"Redmi Note 9 Pro Max (Interstellar Black, 128 GB)",6,128,16.94,64,720,5020
103,103,357,"Redmi Note 9 Pro Max (Aurora Blue, 128 GB)",6,128,16.94,64,720,5020
104,104,360,"Redmi Note 9 Pro Max (Aurora Blue, 128 GB)",6,128,16.94,64,720,5020
8,8,27,"Motorola One Fusion+ (Twilight Blue, 128 GB)",6,128,16.51,64,730,5000
17,17,65,"Motorola One Fusion+ (Moonlight White, 128 GB)",6,128,16.51,64,730,5000
33,33,120,"POCO M2 Pro (Green and Greener, 128 GB)",6,128,16.94,48,720,5000